@font-face {
    font-family: dazn;
    src: url(../assets/fonts/DAZNOscine-XBold.ttf);
}
body{
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: dazn;
    font-weight: bold;
    display: grid;
    grid-template: "header" 7vw
                "main" auto
                "footer" 10% /
                100%;
    color: rgb(20, 108, 190);
}

.header{
    grid-area: header;
    background-color: rgb(20, 108, 190);
    width: 100%;
    display: flex;
    align-items: center;
    color: white;
}
.header h1{
    margin: 0 2vw;
}
.main{
    grid-area: main;
    box-sizing: border-box;
    width: 100%;
    padding: 2vw;
}
.leagues{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.footer{
    grid-area: footer;
    align-self: end;
    width: 100%;
    background-color: rgb(20, 108, 190);
}

.d-none{
    display: none;
}
.logo{
    height: 90%;
    margin: 0 1vw;
}